:root {
  --primary-color: #E58A49;
  --background-color: #FDF4E3;
  --surface-color: #FFFFFF;
  --text-color: #333333;
  --subtle-text-color: #888888;
  --border-color: #EADDCD;
}

body {
  font-family: 'Spline Sans', sans-serif;
}

.form-input {
  width: 100%;
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  color: var(--text-color);
  outline: none;
  transition: all 0.2s;
}

.form-input:focus {
  box-shadow: 0 0 0 2px var(--primary-color);
}

.form-textarea {
  width: 100%;
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  color: var(--text-color);
  outline: none;
  transition: all 0.2s;
}

.form-textarea:focus {
  box-shadow: 0 0 0 2px var(--primary-color);
}